* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  user-select: none;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  width: 500px;
  height: 280px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 10px 10px 25px #0000007d;
}
.card .fields {
  position: relative;
  width: 100%;
}
.card .fields input {
  width: 100%;
  height: 50px;
  border: none;
  font-family: inherit;
  padding: 0px 10px;
  font-weight: 600;
}
.card .fields input:focus {
  outline: none;
}
button {
  position: absolute;
  font-weight: 600;
  top: 0;
  right: 0;
  height: 100%;
  width: 100px;
  border: none;
  background-color: darkmagenta;
  color: #fff;
}
button:focus {
  outline: none;
}
h1 {
  font-size: 30px;
}
.details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  text-align: center;
}
.bold {
  font-weight: bold;
}
